*.tlog
CFD/CFD.sdf
CFD/CFD.sln
CFD/CFD/CFD.vcxproj
CFD/CFD/CFD.vcxproj.filters
CFD/CFD/Debug/vc120.idb
*.opensdf
*.opendb
*.db
*.dat
*.iobj
*.ipdb
*.pdb
*.obj
*.user
*.log
*.ilk
*.suo
CFD/Debug/CFD.exe
CFD/Release/CFD.exe
